# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [2]:
import pandas as pd
import numpy as np
import os

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.

In [3]:
os.getcwd()

'/Users/lauratll/Documents/Data_Analysis/IronHack/Week_2/DAY2/lab-pandas-deep-dive/your-code'

In [4]:
os.chdir("../")

In [5]:
os.getcwd()

'/Users/lauratll/Documents/Data_Analysis/IronHack/Week_2/DAY2/lab-pandas-deep-dive'

In [7]:
os.chdir("data/")

In [8]:
os.getcwd()

'/Users/lauratll/Documents/Data_Analysis/IronHack/Week_2/DAY2/lab-pandas-deep-dive/data'

#### 3. Using the pandas, read the data either from the downladed file or the database. 

Assign the returned value to a variable called `data`.

In [9]:
data = pd.read_csv("apple_store.csv")

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [10]:
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

#### 5. Print the summary of the data.

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

#### 6. Print the number of columns in the data.

In [17]:
data.shape

(7197, 9)

In [14]:
data.shape[1]

9

#### 7. Print all column names.

In [16]:
list(data.columns)

['id',
 'track_name',
 'size_bytes',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'prime_genre']

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [18]:
data.shape[0]

7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [23]:
user_rating = data["user_rating"]

In [27]:
user_rating

0       4.0
1       4.0
2       3.5
3       4.0
4       4.5
       ...
7192    4.5
7193    4.5
7194    4.5
7195    4.5
7196    5.0
Name: user_rating, Length: 7197, dtype: float64

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [24]:
user_rating.mean()

3.526955675976101

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [36]:
user_rating_high = data[data["user_rating"] >=4]

In [37]:
user_rating_high.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [38]:
user_rating_high.shape[0]

4781

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [49]:
genres = data["prime_genre"]
genres

0              Games
1       Productivity
2            Weather
3           Shopping
4          Reference
            ...
7192           Games
7193           Games
7194       Utilities
7195           Games
7196           Games
Name: prime_genre, Length: 7197, dtype: object

Print the length of the unique values of `genres`. Your code should return 23.

In [51]:
len(genres.unique())

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [53]:
genres.value_counts()

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

In [54]:
genres.value_counts()[:3]

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [85]:
free_apps= data[data["price"] == 0]
type(free_apps)

pandas.core.frame.DataFrame

In [84]:
data["price"].value_counts()

0.0    7197
Name: price, dtype: int64

In [79]:
free_apps.head(30)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,0.0,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.0,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.0,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.0,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.0,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.0,8253,5516,4.0,4.0,Games
6,283646709,PayPal - Send and request money safely,227795968,0.0,119487,879,4.0,4.5,Finance
7,284035177,Pandora - Music & Radio,130242560,0.0,1126879,3594,4.0,4.5,Music
8,284666222,PCalc - The Best Calculator,49250304,0.0,1117,4,4.5,5.0,Utilities
9,284736660,Ms. PAC-MAN,70023168,0.0,7885,40,4.0,4.0,Games
10,284791396,Solitaire by MobilityWare,49618944,0.0,76720,4017,4.5,4.5,Games
11,284815117,SCRABBLE Premium,227547136,0.0,105776,166,3.5,2.5,Games
12,284815942,Google – Search made just for mobile,179979264,0.0,479440,203,3.5,4.0,Utilities
13,284847138,Bank of America - Mobile Banking,160925696,0.0,119773,2336,3.5,4.5,Finance
14,284862767,FreeCell,55153664,0.0,6340,668,4.5,4.5,Games
15,284876795,TripAdvisor Hotels Flights Restaurants,207907840,0.0,56194,87,4.0,3.5,Travel
16,284882215,Facebook,389879808,0.0,2974676,212,3.5,3.5,Social Networking
17,284910350,"Yelp - Nearby Restaurants, Shopping & Services",167407616,0.0,223885,3726,4.0,4.5,Travel
18,284993459,"Shazam - Discover music, artists, videos & lyrics",147093504,0.0,402925,136,4.0,4.5,Music
19,285005463,Crash Bandicoot Nitro Kart 3D,10735026,0.0,31456,4178,4.0,3.5,Games
20,285946052,iQuran,70707916,0.0,2929,966,4.5,4.5,Reference
21,285994151,:) Sudoku +,6169600,0.0,11447,781,5.0,5.0,Games
22,286058814,"Yahoo Sports - Teams, Scores, News & Highlights",130583552,0.0,137951,131,4.0,4.5,Sports
23,286070473,Mileage Log | Fahrtenbuch,71203840,0.0,8,0,4.5,0.0,Business
24,286799607,Cleartune - Chromatic Tuner,11423008,0.0,3241,297,4.0,4.0,Music
25,286906691,Lifesum – Inspiring healthy lifestyle app,188017664,0.0,5795,12,3.5,4.0,Health & Fitness
26,286911400,Hangman.,4765696,0.0,42316,248,3.0,3.5,Games
27,288113403,iTranslate - Language Translator & Dictionary,287933440,0.0,123215,25,3.5,5.0,Productivity
28,288120394,TouchOSC,4263936,0.0,782,7,4.0,3.5,Music
29,288419283,RadarScope,172772352,0.0,3449,23,4.0,4.5,Weather

In [78]:
free_apps["prime_genre"].value_counts()

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [ ]:
# proportions realtive to the totaul amount of apps

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [ ]:
# your code here