# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [97]:
# your code here
import numpy as np
import pandas as pd

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.

In [98]:
# your code here
path = pd.read_csv('../data/apple_store.csv')

#### 3. Using the pandas, read the data either from the downladed file or the database. 

Assign the returned value to a variable called `data`.

In [100]:
# your code here
data = pd.read_csv('../data/apple_store.csv')

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [132]:
# your code here
data.head(5)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

#### 5. Print the summary of the data.

In [103]:
# your code here
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB
None

#### 6. Print the number of columns in the data.

In [104]:
# your code here
len(data.columns)

9

#### 7. Print all column names.

In [105]:
# your code here
list(data.columns.values)

['id',
 'track_name',
 'size_bytes',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'prime_genre']

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [106]:
# your code here
index = path.index
number_of_apps = len(index)
print(number_of_apps)

7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [107]:
# your code here
user_rating = data['user_rating']
print(user_rating)

0       4.0
1       4.0
2       3.5
3       4.0
4       4.5
       ...
7192    4.5
7193    4.5
7194    4.5
7195    4.5
7196    5.0
Name: user_rating, Length: 7197, dtype: float64

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [108]:
# your code here
user_rating.mean()

3.526955675976101

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [109]:
# your code here
user_rating_high = user_rating[user_rating >= 4]
#gapminder_2002 = gapminder[gapminder['year']==2002]

Now obtain the length of `user_rating_high` which should return 4781.

In [110]:
# your code here
len(user_rating_high)

4781

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [142]:
# your code here
#genres = data['prime_genre'].unique()
genres = data ['prime_genre'].value_counts()
#cars.groupby('Make').count()['Model']
#cars.groupby('Make').count()['Model']
print(genres)

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

Print the length of the unique values of `genres`. Your code should return 23.

In [120]:
# your code here
len(genres)

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [116]:
# your code here
genres = data ['prime_genre'].value_counts().head(3)
print(genres)

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [115]:
# your code here
free_apps = data[data['price'] == 0.00]
new = free_apps['prime_genre'].value_counts()
new
#user_rating_high = user_rating[user_rating >= 4]

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

In [181]:
difference = genres - new
difference

Book                   46
Business               37
Catalogs                1
Education             321
Entertainment         201
Finance                20
Food & Drink           20
Games                1605
Health & Fitness      104
Lifestyle              50
Medical                15
Music                  71
Navigation             26
News                   17
Photo & Video         182
Productivity          116
Reference              44
Shopping                1
Social Networking      24
Sports                 35
Travel                 25
Utilities             139
Weather                41
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [68]:
# your code here
number = free_apps['prime_genre'].value_counts()
print(number)
#funct.sort_values(axis = 1, ascending = False)number

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

In [67]:
free_apps1 = data[data['price'] >= 0.00]
funct = free_apps['prime_genre'].value_counts()/free_apps1['prime_genre'].value_counts()
#print(funct)
funct.sort_values(axis = 0, ascending = False)

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [143]:
# your code here
avg_price = []
for genre in data['prime_genre'].unique():
    avg_price.append(data[data["prime_genre"] == genre]['price'].mean())
print(avg_price)
len(avg_price)

[1.4329233557741567, 4.3305617977528135, 1.6054166666666658, 0.016311475409836067, 4.836875000000003, 0.42115384615384627, 4.835434782608699, 1.6476209677419387, 1.1203703703703698, 0.3398802395209582, 0.9530701754385958, 5.116315789473685, 1.9164444444444473, 0.8897009345794415, 1.4732951289398313, 4.1247826086956545, 4.028233995584995, 0.8854166666666661, 1.5523809523809518, 0.5177333333333334, 1.7905357142857155, 8.77608695652174, 0.799]

23

In [182]:
difference * avg_price

Book                   65.914474
Business              160.230787
Catalogs                1.605417
Education               5.235984
Entertainment         972.211875
Finance                 8.423077
Food & Drink           96.708696
Games                2644.431653
Health & Fitness      116.518519
Lifestyle              16.994012
Medical                14.296053
Music                 363.258421
Navigation             49.827556
News                   15.124916
Photo & Video         268.139713
Productivity          478.474783
Reference             177.242296
Shopping                0.885417
Social Networking      37.257143
Sports                 18.120667
Travel                 44.763393
Utilities            1219.876087
Weather                32.759000
Name: prime_genre, dtype: float64

In [179]:
unqiued = list(data['prime_genre'].unique())
sorted(unqiued)

['Book',
 'Business',
 'Catalogs',
 'Education',
 'Entertainment',
 'Finance',
 'Food & Drink',
 'Games',
 'Health & Fitness',
 'Lifestyle',
 'Medical',
 'Music',
 'Navigation',
 'News',
 'Photo & Video',
 'Productivity',
 'Reference',
 'Shopping',
 'Social Networking',
 'Sports',
 'Travel',
 'Utilities',
 'Weather']

In [ ]:
avg