<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Import-Pandas-package-under-the-alias-pd-and-Numpy-under-the-alias-np." data-toc-modified-id="1.-Import-Pandas-package-under-the-alias-pd-and-Numpy-under-the-alias-np.-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1. Import Pandas package under the alias pd and Numpy under the alias np.</a></span></li><li><span><a href="#2.-Define-a-variable-called-path-that-contains-the-path-to-the-csv-file-you-downloaded.-If-you-are-reading-the-data-from-Ironhack's-database,-define-the-variables-needed-to-create-the-connection-with-the-database." data-toc-modified-id="2.-Define-a-variable-called-path-that-contains-the-path-to-the-csv-file-you-downloaded.-If-you-are-reading-the-data-from-Ironhack's-database,-define-the-variables-needed-to-create-the-connection-with-the-database.-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>2. Define a variable called <code>path</code> that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.</a></span></li><li><span><a href="#3.-Using-the-pandas,-read-the-data-either-from-the-downladed-file-or-the-database." data-toc-modified-id="3.-Using-the-pandas,-read-the-data-either-from-the-downladed-file-or-the-database.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>3. Using the pandas, read the data either from the downladed file or the database.</a></span></li><li><span><a href="#4.-Print-the-first-5-rows-of-data-to-see-what-the-data-look-like." data-toc-modified-id="4.-Print-the-first-5-rows-of-data-to-see-what-the-data-look-like.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>4. Print the first 5 rows of <code>data</code> to see what the data look like.</a></span></li><li><span><a href="#5.-Print-the-summary-of-the-data." data-toc-modified-id="5.-Print-the-summary-of-the-data.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>5. Print the summary of the data.</a></span></li><li><span><a href="#6.-Print-the-number-of-columns-in-the-data." data-toc-modified-id="6.-Print-the-number-of-columns-in-the-data.-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>6. Print the number of columns in the data.</a></span></li><li><span><a href="#7.-Print-all-column-names." data-toc-modified-id="7.-Print-all-column-names.-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>7. Print all column names.</a></span></li><li><span><a href="#8.--Now-that-we-have-a-general-understanding-of-the-data,-we'll-start-working-on-the-challenge-questions.-How-many-apps-are-there-in-the-data-source?-Print-the-number-of-observations-of-the-data." data-toc-modified-id="8.--Now-that-we-have-a-general-understanding-of-the-data,-we'll-start-working-on-the-challenge-questions.-How-many-apps-are-there-in-the-data-source?-Print-the-number-of-observations-of-the-data.-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.</a></span></li><li><span><a href="#9.-What-is-the-average-rating-of-all-apps?" data-toc-modified-id="9.-What-is-the-average-rating-of-all-apps?-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>9. What is the average rating of all apps?</a></span></li><li><span><a href="#10.-How-many-apps-have-an-average-rating-no-less-than-4?" data-toc-modified-id="10.-How-many-apps-have-an-average-rating-no-less-than-4?-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>10. How many apps have an average rating no less than 4?</a></span></li><li><span><a href="#11.-How-many-genres-are-there-in-total-for-all-the-apps?" data-toc-modified-id="11.-How-many-genres-are-there-in-total-for-all-the-apps?-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>11. How many genres are there in total for all the apps?</a></span></li><li><span><a href="#12.-What-are-the-top-3-genres-that-have-the-most-number-of-apps?" data-toc-modified-id="12.-What-are-the-top-3-genres-that-have-the-most-number-of-apps?-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>12. What are the top 3 genres that have the most number of apps?</a></span></li><li><span><a href="#13.-Which-genre-is-most-likely-to-contain-free-apps?" data-toc-modified-id="13.-Which-genre-is-most-likely-to-contain-free-apps?-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>13. Which genre is most likely to contain free apps?</a></span></li><li><span><a href="#14.-Now-you-can-calculate-the-proportion-of-the-free-apps-in-each-genre-based-on-the-value-counts-you-obtained-in-the-previous-two-steps." data-toc-modified-id="14.-Now-you-can-calculate-the-proportion-of-the-free-apps-in-each-genre-based-on-the-value-counts-you-obtained-in-the-previous-two-steps.-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps.</a></span></li><li><span><a href="#15.-If-a-developer-tries-to-make-money-by-developing-and-selling-Apple-Store-apps,-in-which-genre-should-s/he-develop-the-apps?-Please-assume-all-apps-cost-the-same-amount-of-time-and-expense-to-develop." data-toc-modified-id="15.-If-a-developer-tries-to-make-money-by-developing-and-selling-Apple-Store-apps,-in-which-genre-should-s/he-develop-the-apps?-Please-assume-all-apps-cost-the-same-amount-of-time-and-expense-to-develop.-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.</a></span></li></ul></div>

# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [1]:
import pandas as pd
import numpy as np
import os

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.

In [2]:
path="../data/apple_store.csv"

#### 3. Using the pandas, read the data either from the downladed file or the database. 

Assign the returned value to a variable called `data`.

In [4]:
data = pd.read_csv(path)

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [102]:
data.head(20)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
6,283646709,PayPal - Send and request money safely,227795968,0.00,119487,879,4.0,4.5,Finance
7,284035177,Pandora - Music & Radio,130242560,0.00,1126879,3594,4.0,4.5,Music
8,284666222,PCalc - The Best Calculator,49250304,9.99,1117,4,4.5,5.0,Utilities
9,284736660,Ms. PAC-MAN,70023168,3.99,7885,40,4.0,4.0,Games
10,284791396,Solitaire by MobilityWare,49618944,4.99,76720,4017,4.5,4.5,Games
11,284815117,SCRABBLE Premium,227547136,7.99,105776,166,3.5,2.5,Games
12,284815942,Google – Search made just for mobile,179979264,0.00,479440,203,3.5,4.0,Utilities
13,284847138,Bank of America - Mobile Banking,160925696,0.00,119773,2336,3.5,4.5,Finance
14,284862767,FreeCell,55153664,4.99,6340,668,4.5,4.5,Games
15,284876795,TripAdvisor Hotels Flights Restaurants,207907840,0.00,56194,87,4.0,3.5,Travel
16,284882215,Facebook,389879808,0.00,2974676,212,3.5,3.5,Social Networking
17,284910350,"Yelp - Nearby Restaurants, Shopping & Services",167407616,0.00,223885,3726,4.0,4.5,Travel
18,284993459,"Shazam - Discover music, artists, videos & lyrics",147093504,0.00,402925,136,4.0,4.5,Music
19,285005463,Crash Bandicoot Nitro Kart 3D,10735026,2.99,31456,4178,4.0,3.5,Games

#### 5. Print the summary of the data.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

#### 6. Print the number of columns in the data.

In [7]:
data.shape

(7197, 9)

In [8]:
data.shape[1]

9

#### 7. Print all column names.

In [9]:
list(data.columns)

['id',
 'track_name',
 'size_bytes',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'prime_genre']

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [10]:
data.shape[0] #Rows are apps, observations

7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [11]:
user_rating = data[["user_rating"]]

In [12]:
user_rating

      user_rating
0             4.0
1             4.0
2             3.5
3             4.0
4             4.5
...           ...
7192          4.5
7193          4.5
7194          4.5
7195          4.5
7196          5.0

[7197 rows x 1 columns]

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [13]:
user_rating.mean()

user_rating    3.526956
dtype: float64

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [17]:
data["user_rating"] >= 4

0        True
1        True
2       False
3        True
4        True
        ...
7192     True
7193     True
7194     True
7195     True
7196     True
Name: user_rating, Length: 7197, dtype: bool

In [18]:
user_rating_high = data[data["user_rating"] >= 4]

In [19]:
user_rating_high.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [21]:
user_rating_high.shape[0]

4781

In [22]:
len(user_rating_high)

4781

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [24]:
genres = data["prime_genre"]
genres

0              Games
1       Productivity
2            Weather
3           Shopping
4          Reference
            ...
7192           Games
7193           Games
7194       Utilities
7195           Games
7196           Games
Name: prime_genre, Length: 7197, dtype: object

In [26]:
genres.unique()

array(['Games', 'Productivity', 'Weather', 'Shopping', 'Reference',
       'Finance', 'Music', 'Utilities', 'Travel', 'Social Networking',
       'Sports', 'Business', 'Health & Fitness', 'Entertainment',
       'Photo & Video', 'Navigation', 'Education', 'Lifestyle',
       'Food & Drink', 'News', 'Book', 'Medical', 'Catalogs'],
      dtype=object)

Print the length of the unique values of `genres`. Your code should return 23.

In [27]:
len(genres.unique())

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [29]:
genres.value_counts()

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

In [30]:
genres.value_counts()[:3]

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [32]:
free_apps= data[data["price"] == 0]
type(free_apps)

pandas.core.frame.DataFrame

In [33]:
free_apps["prime_genre"].value_counts()
#Games is the genre more likely to contain free apps

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [57]:
proportion_free_apps_x_genre =free_apps["prime_genre"].value_counts().div(data["prime_genre"].value_counts())

In [60]:
proportion_free_apps_x_genre = proportion_free_apps_x_genre.sort_values(ascending=False)
proportion_free_apps_x_genre

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [ ]:
#I am trying to find de genres that would give more money
#I need to compute the mean of the price x genre 
#And compare with the results of the proportion of free apps. If there are less free apps in a genre, maybe
#there is more chnaces that people buy your app instead of the free ones
#We can also look at the ratings per genre

In [136]:
genre_subset = data.groupby("prime_genre").aggregate({"price":"mean","rating_count_tot":"mean"}).sort_values(by="price",ascending=False)

genre_subset["price"]=genre_subset["price"].round(2)
genre_subset["rating_count_tot"]=genre_subset["rating_count_tot"].round(1)
genre_subset

                   price  rating_count_tot
prime_genre
Medical             8.78             592.8
Business            5.12            4788.1
Reference           4.84           22410.8
Music               4.84           28842.0
Productivity        4.33            8051.3
Navigation          4.12           11854.0
Education           4.03            2239.2
Health & Fitness    1.92            9913.2
Book                1.79            5125.4
Utilities           1.65            6863.8
Weather             1.61           22181.0
Food & Drink        1.55           13938.6
Photo & Video       1.47           14352.3
Games               1.43           13692.0
Travel              1.12           14129.4
Sports              0.95           14026.9
Entertainment       0.89            7533.7
Lifestyle           0.89            6161.8
Catalogs            0.80            1732.5
News                0.52           13015.1
Finance             0.42           11047.7
Social Networking   0.34           45498.9
Shopping            0.02           18615.3

In [137]:
type(genre_subset)

pandas.core.frame.DataFrame

In [91]:
#Should inverst in the genres with a higher average price
# and maybe with a lower proportion of 
#free apps (Medical, Business, Reference)...

In [138]:
genre_subset = genre_subset.join(proportion_free_apps_x_genre)
genre_subset = genre_subset.rename(columns = {"prime_genre":"proportion_free_apps"})

In [139]:
genre_subset
#It seems that "Medical" would be a nice oprtion, even tought "Reference" are very popular
#with small amount of free apps and with an average price
#Medical and Business are less popular

                   price  rating_count_tot  proportion_free_apps
prime_genre
Medical             8.78             592.8              0.347826
Business            5.12            4788.1              0.350877
Reference           4.84           22410.8              0.312500
Music               4.84           28842.0              0.485507
Productivity        4.33            8051.3              0.348315
Navigation          4.12           11854.0              0.434783
Education           4.03            2239.2              0.291391
Health & Fitness    1.92            9913.2              0.422222
Book                1.79            5125.4              0.589286
Utilities           1.65            6863.8              0.439516
Weather             1.61           22181.0              0.430556
Food & Drink        1.55           13938.6              0.682540
Photo & Video       1.47           14352.3              0.478510
Games               1.43           13692.0              0.584412
Travel              1.12           14129.4              0.691358
Sports              0.95           14026.9              0.692982
Entertainment       0.89            7533.7              0.624299
Lifestyle           0.89            6161.8              0.652778
Catalogs            0.80            1732.5              0.900000
News                0.52           13015.1              0.773333
Finance             0.42           11047.7              0.807692
Social Networking   0.34           45498.9              0.856287
Shopping            0.02           18615.3              0.991803